*.pyc
*~
__pycache__
djangodev
db.sqlite3
.DS_Store
longdb_dns/settings_secret.py
DataToIncorporate/
importing_data_scratch.py
migrations/
.htaccess
getdata/static/css/autocomplete.css
getdata/static/css/base.css
getdata/static/css/changelists.css
getdata/static/css/dashboard.css
getdata/static/css/fonts.css
getdata/static/css/forms.css
getdata/static/css/login.css
getdata/static/css/responsive.css
getdata/static/css/responsive_rtl.css
getdata/static/css/rtl.css
getdata/static/css/vendor/
getdata/static/css/widgets.css
getdata/static/fonts/
getdata/static/img/
getdata/static/js/
longdb_dns.fcgi
longdb_dns.json
longdb_dns_full.json
