{% extends "base_generic.html" %}
{% load bootstrap %}

{% block content %}
<h2>Select data to pull from database</h2>
<form action="" method="post">
    {% csrf_token %}
<br />
<h4>Demographics:</h4>
    {{ form|bootstrap }}
<br />

<div>
<h4>Day 1 Variables:</h4>
  <div id="selectVar-container">
      <select class="selectVar" name="day1_selections"  multiple="multiple" style="width:350px">
            {% for var in options_day1 %}
        <option>{{var}}</option>
      {% endfor %}
       </select>
     </div>
</div>

<br />
<h4>Battery Variable Types:</h4>
    {{ form_bat_type|bootstrap }}
<br />

<div>
<h4>Battery Variables:</h4>
  <div id="selectVar-container">
      <select class="selectVar" name="bat_selections"  multiple="multiple" style="width:350px">
            {% for var in options_bat %}
        <option>{{var}}</option>
      {% endfor %}
       </select>
     </div>
</div>

<div>

<div>

<h4>FreeSurfer Variables:</h4>
  <div id="selectVar-container">
      <select class="selectVar" name="freesurfer_selections"  multiple="multiple" style="width:350px">
            {% for group,sublist in options_freesurfer.items %}
        <optgroup label="{{group}}"> <br>
        {% for var in sublist %}
          <option>{{var}}</option>
        {% endfor %}  
      {% endfor %}
       </select>     
     </div>  
</div> 
 <!-- <h4>fMRI ROI Extracted Variables:</h4>
  <div id="selectVar-container">
      <select class="selectVar" name="img_selections"  multiple="multiple" style="width:350px">
            {% for group,sublist in options_img.items %}
        <optgroup label="{{group}}"> <br>
        {% for var in sublist %}
          <option>{{var}}</option>
        {% endfor %}
      {% endfor %}
       </select>
     </div>
</div>-->



<br />
<br />

<!-- <h4>SNPs:</h4>
<p>Enter rs id(s), e.g. rs1234 (one per line)</p>
    {{ form_snp }}
<br />
<br />
<br />
-->

    <input type="submit" name="action" value="Preview" /> <input type="submit" name="action" value="Write CSV" /> 

</form>

<br />
<br />
<br />
{% endblock %}
