{% extends "base_generic.html" %}
{% load bootstrap %}
{% load crispy_forms_tags %}

{% block content %}
<br />
<h4>Select data to pull from database</h4>

<form action="" method="post">
    {% csrf_token %}
<br />

<div class="container">
  <div class="row">
    <div class="col-sm">
        <h5>Basic Demographics:</h5>
            <!-- {% crispy form %} -->
    <div class="form-row">
      <div class="form-group col-4 mb-0">
        {{ form.useGender|as_crispy_field }}
      </div>
      <div class="form-group col-4 mb-0">
        {{ form.useAge|as_crispy_field }}
      </div>
      <div class="form-group col-4 mb-0">
        {{ form.useRace|as_crispy_field }}
      </div>      
    </div>


        <br />
      </div>
      <div class="col-sm"></div>
      <div class="col-sm"></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <h5 style="margin-bottom:3px;">Day 1 Variables:</h5>
      <p style="margin-bottom:3px; color:grey">(Clinical, Neuropsych, etc) </p>
        <div id="selectVar-container">
            <select class="selectVar" name="day1_selections"  multiple="multiple" style="width:350px">
                  {% for var in options_day1 %}
              <option>{{var}}</option>
            {% endfor %}
             </select>
           </div>
      </div>
      <div class="col-sm"></div>
      <div class="col-sm"></div>
  </div>
</div>

<br />


<div class="container">
  <div class="row">
    <div class="col">
      <h5 style="margin-bottom:3px;">Battery Variables:</h5>
      <p style="margin-bottom:3px; color:grey">(Self-report questionnaires, DDT, etc) </p>
      <div id="selectVar-container">
        <select class="selectVar" name="bat_selections"  multiple="multiple" style="width:350px">
              {% for var in options_bat %}
          <option>{{var}}</option>
        {% endfor %}
         </select>
      </div>
    </div>
    <div class="col">
      <h5>Battery Variable Types:</h5>
      <!-- {% crispy form_bat_type %} -->
      <div class="form-row">
      <div class="form-group col-4 mb-0">
        {{ form_bat_type.useSCORE|as_crispy_field }}
      </div>
      <div class="form-group col-4 mb-0">
        {{ form_bat_type.useREC|as_crispy_field }}
      </div>
      <div class="form-group col-4 mb-0">
        {{ form_bat_type.useRAW|as_crispy_field }}
      </div>      
    </div>

    </div>
    <div class="col"></div>
  </div>
</div>


<br />

<div class="container">
  <div class="row">
    <div class="col-sm">
      <h5 style="margin-bottom:3px;">Composite Variables:</h5>
      <p style="margin-bottom:3px; color:grey">(p, g, etc) </p>
        <div id="selectVar-container">
            <select class="selectVar" name="comp_selections"  multiple="multiple" style="width:350px">
                  {% for var in options_comp %}
              <option>{{var}}</option>
            {% endfor %}
             </select>
           </div>
         </div>
         <div class="col"></div>
         <div class="col"></div>
       </div>
</div> 

<br />

<div class="container">
  <div class="row">
    <div class="col-sm">
      <h5 style="margin-bottom:3px;">Freesurfer Variables:</h5>
      <p style="margin-bottom:3px; color:grey">(Volume, Cortical Thickness, Surface Area, etc) </p>
          <div id="selectVar-container">
            <select class="selectVar" name="freesurfer_selections"  multiple="multiple" style="width:350px">
                    {% for group,sublist in options_freesurfer.items %}
                <optgroup label="{{group}}"> <br>
                {% for var in sublist %}
                  <option>{{var}}</option>
                {% endfor %}  
              {% endfor %}
            </select>     
          </div>
        </div>
        <div class="col"></div>
        <div class="col"></div>
  </div>
</div> 

<br />

<div class="container">
  <div class="row">
    <div class="col-sm">
      <h5 style="margin-bottom:3px;">Additional Imaging Variables:</h5>
      <p style="margin-bottom:3px; color:grey">(DTI, Paths, Covariates, etc) </p>
          <div id="selectVar-container">
            <select class="selectVar" name="img_selections"  multiple="multiple" style="width:350px">
                    {% for group,sublist in options_img.items %}
                <optgroup label="{{group}}"> <br>
                {% for var in sublist %}
                  <option>{{var}}</option>
                {% endfor %}  
              {% endfor %}
            </select>     
          </div>
        </div>
        <div class="col"></div>
        <div class="col"></div>
  </div>
</div> 

 <!-- <h5>fMRI ROI Extracted Variables:</h5>
  <div id="selectVar-container">
      <select class="selectVar" name="img_selections"  multiple="multiple" style="width:350px">
            {% for group,sublist in options_img.items %}
        <optgroup label="{{group}}"> <br>
        {% for var in sublist %}
          <option>{{var}}</option>
        {% endfor %}
      {% endfor %}
       </select>
     </div>
</div>-->



<br />
<br />

<!-- <h5>SNPs:</h5>
<p>Enter rs id(s), e.g. rs1234 (one per line)</p>
    {{ form_snp }}
<br />
<br />
<br />
-->

<div class="container">
  <div class="row">
    <div class="col-sm">
    <input type="submit" name="action" value="Preview" /> <input type="submit" name="action" value="Write CSV" /> 
        </div>
      <div class="col"></div>
    <div class="col"></div>
  </div>
</div>

</form>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
{% endblock %}
