<!DOCTYPE html>
<html lang="en">

<head>
  
  {% block title %}<title>LoNG</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
</script>
  
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/getdata.css' %}">
</head>

<nav class="navbar navbar-inverse navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">LoNG Database</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/getdata/">Get data</a></li>
      <li><a href="/stats/">Simple stats</a></li>
      <li><a href="/checkSNP/">Check SNPs</a></li>
    </ul>  
    <ul class="nav navbar-nav navbar-right">  
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>

<body>

<script>
    $(document).ready(function() {
        $('a[href="' + this.location.pathname + '"]').parent().addClass('active');
    });
</script>


      {% block content %}{% endblock %}


</body>
</html>